@font-face {
    font-family: moria;
    src: url(../fonts/Moria.TTF);
}

@font-face {
    font-family: magic;
    src: url(../fonts/MagicMedieval.ttf);
}

@font-face {
    font-family: dragon;
    src: url(../fonts/Talon.ttf);
}

/* Body styling */
body {
    background-image: url(../images/tavern.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar Styling */
.nav-icon {
    width: 5rem;
}

.navbar {
    font-family: moria;
    text-align: center;
    font-size: 1.3rem;
}

.sl-btns {
    margin: 0.25rem;
}

.dropdown-menu {
    background-color: #33393f;
}

.dropdown-item {
    color: #bbb;
}

/* Text style */
h1 {
    font-family: moria;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-shadow: 3px 2px black;
}

.features {
    font-family: magic;
    color: white;
    font-size: 2rem;
}

.jumbotron {
    opacity: 0.9;
    background-color: #666;
    padding: 2rem 2rem;
}

.modal-content{
    font-family: magic;
}